# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/

# Virtual environments
venv/
.venv/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Environment
.env

# Downloads
downloads/

# Docker volumes
pg_data/
redis_data/
minio_data/
